# Introductory Data Science for Innovation Studies
## Seminar 2

Before we start having fun let's get the basics in place. We'll be using the California Housing data from last week so lets import all of our stuff from before (and maybe a few extra things we may not be so familiar with)

In [203]:
import pandas as pd 
import numpy as np 
from matplotlib import pyplot as plt

In [204]:
from sklearn.datasets import fetch_california_housing

Now lets load California Housing (we know this but always good to remember)

In [205]:
cal_housing = fetch_california_housing(as_frame=True)

In [206]:
type(cal_housing)

sklearn.utils.Bunch

Here comes the new stuff though. So far we haven't really looked at what we've got we just did some slightly hand-wavey visualisations but it did look a bit like magic. It doesn't really work that way though. What does this data even look like? What's its shape? How many rows and columns are there? Basics but fundamentals:

In [207]:
df = pd.DataFrame(cal_housing.data, columns = cal_housing.feature_names)

In [208]:
type(df)

pandas.core.frame.DataFrame

In [209]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [210]:
df.shape

(20640, 8)

In [211]:
df.columns

Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude'],
      dtype='object')

In [212]:
df.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

After this we may want to focus a little more on certain specific data types or sometimes our data may be a little unclean, noisy, or even have missing values. Let's look at a classic one - the titanic dataset. The notes for this dataset can be found here: https://www.openml.org/search?type=data&sort=runs&id=40945&status=active although I wasn't happy with the data so we'll download it direct from Vanderbilt

In [213]:
url = "https://biostat.app.vumc.org/wiki/pub/Main/DataSets/titanic3.csv"
titanic = pd.read_csv(url)


## 1. Explore the given dataset

So just like before - let's see what we've got

In [214]:
titanic.head()
# 1.4 Use 'head()' and 'tail()' to check the first and last rows
print(titanic.head(5))  # Print the first 5 rows
print(titanic.tail(8))  # Print the last 8 rows

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

     age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.00      0      0   24160  211.3375       B5        S    2    NaN
1   0.92      1      2  113781  151.5500  C22 C26        S   11    NaN
2   2.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3  30.00      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON
      pclass  survived                       name     sex   age  sibsp  parch  \
1301       3         0       Youseff, Mr. Gerious    male  45.5      0      0
1302       3         0          Yousif, Mr. Wazli    male   NaN      0      0
1303       3         0      Yousseff, Mr. Gerious    male   NaN      0      0
1304       3         0       Zabour, Miss. Hileni  female  14.5      1      0
1305       3         0      Zabour, Miss. Thamine  female   NaN      1      0
1306       3         0  Zakarian, Mr. Mapriededer    male  26.5      0      0
1307       3         0        Zakarian, Mr. Ortin    male  27.0      0      0
1308       3         0         Zimmerman, Mr. Leo    male  29.0      0      0

      ticket     fare cabin embarked boat   body home.dest
1301    2628   7.2250   NaN        C  NaN  312.0       NaN
1302    2647   7.2250   NaN        C  NaN    NaN       NaN
1303    2627  14.4583   NaN        C  NaN    NaN       NaN
1304    2665  14.4542   NaN        C  NaN  328.0       NaN
1305    2665  14.4542   NaN        C  NaN    NaN       NaN
1306    2656   7.2250   NaN        C  NaN  304.0       NaN
1307    2670   7.2250   NaN        C  NaN    NaN       NaN
1308  315082   7.8750   NaN        S  NaN    NaN       NaN

### 1.1 Look at the 'shape' of the dataset

In [215]:
print(titanic.shape)  # This will print the number of rows and columns

(1309, 14)

### 1.2 You can also use the functions 'shape' or 'shape[0]' and 'shape[1]' to get the number of rows and columns

### 1.3 Inspect the column names

In [216]:
print(titanic.columns)

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

So the column names are a bit weird so we have to use the notes to workout what's going on, equally the names are all a bit messed up. We can handle some of that though. What we are most interested in is trying to understand the breakdown between different characteristics and whether they survived. Let's also split the Name field into first and last names (maybe even title too if you want a challenge!)

In [217]:
titanic[['Last Name', 'temp']] = titanic['name'].str.split(', ', expand=True)
titanic[['Title', 'First Name']] = titanic['temp'].str.split('. ', n=1, expand=True)
titanic = titanic.drop('temp', axis=1)

### 1.5 Check the overall structure of the dataset

In [218]:

print(titanic.info())  # This provides information about columns and their data types
print(titanic.describe())  # This gives summary statistics for numerical columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pclass      1309 non-null   int64
 1   survived    1309 non-null   int64
 2   name        1309 non-null   object
 3   sex         1309 non-null   object
 4   age         1046 non-null   float64
 5   sibsp       1309 non-null   int64
 6   parch       1309 non-null   int64
 7   ticket      1309 non-null   object
 8   fare        1308 non-null   float64
 9   cabin       295 non-null    object
 10  embarked    1307 non-null   object
 11  boat        486 non-null    object
 12  body        121 non-null    float64
 13  home.dest   745 non-null    object
 14  Last Name   1309 non-null   object
 15  Title       1309 non-null   object
 16  First Name  1309 non-null   object
dtypes: float64(3), int64(4), object(10)
memory usage: 174.0+ KB
None
            pclass     survived          age        sibsp        parch  \
count  1309.000000  1309.000000  1046.000000  1309.000000  1309.000000
mean      2.294882     0.381971    29.881138     0.498854     0.385027
std       0.837836     0.486055    14.413493     1.041658     0.865560
min       1.000000     0.000000     0.170000     0.000000     0.000000
25%       2.000000     0.000000    21.000000     0.000000     0.000000
50%       3.000000     0.000000    28.000000     0.000000     0.000000
75%       3.000000     1.000000    39.000000     1.000000     0.000000
max       3.000000     1.000000    80.000000     8.000000     9.000000

              fare        body
count  1308.000000  121.000000
mean     33.295479  160.809917
std      51.758668   97.696922
min       0.000000    1.000000
25%       7.895800   72.000000
50%      14.454200  155.000000
75%      31.275000  256.000000
max     512.329200  328.000000

### 1.7 Change these variables to factors - sex and embarked. Then re-run describe

In [219]:

titanic['sex'] = pd.Categorical(titanic['sex'])
print(titanic['sex'].dtype)  # Check if 'sex' column is a category
titanic['embarked'] = pd.Categorical(titanic['embarked'])
print(titanic['embarked'].dtype)  # Check if 'embarked' column is a category

print(titanic.describe())

category
category
            pclass     survived          age        sibsp        parch  \
count  1309.000000  1309.000000  1046.000000  1309.000000  1309.000000
mean      2.294882     0.381971    29.881138     0.498854     0.385027
std       0.837836     0.486055    14.413493     1.041658     0.865560
min       1.000000     0.000000     0.170000     0.000000     0.000000
25%       2.000000     0.000000    21.000000     0.000000     0.000000
50%       3.000000     0.000000    28.000000     0.000000     0.000000
75%       3.000000     1.000000    39.000000     1.000000     0.000000
max       3.000000     1.000000    80.000000     8.000000     9.000000

              fare        body
count  1308.000000  121.000000
mean     33.295479  160.809917
std      51.758668   97.696922
min       0.000000    1.000000
25%       7.895800   72.000000
50%      14.454200  155.000000
75%      31.275000  256.000000
max     512.329200  328.000000

### 1.8 Now try grouping by class and sex and see whether you can see anything

In [220]:
print(titanic.groupby(['pclass', 'sex']).describe())

              survived                                                 age  \
                 count      mean       std  min  25%  50%  75%  max  count
pclass sex
1      female    144.0  0.965278  0.183714  0.0  1.0  1.0  1.0  1.0  133.0
       male      179.0  0.340782  0.475302  0.0  0.0  0.0  1.0  1.0  151.0
2      female    106.0  0.886792  0.318352  0.0  1.0  1.0  1.0  1.0  103.0
       male      171.0  0.146199  0.354343  0.0  0.0  0.0  0.0  1.0  158.0
3      female    216.0  0.490741  0.501076  0.0  0.0  0.0  1.0  1.0  152.0
       male      493.0  0.152130  0.359511  0.0  0.0  0.0  0.0  1.0  349.0

                          ...        fare            body              \
                    mean  ...         75%       max count        mean
pclass sex                ...
1      female  37.037594  ...  135.919775  512.3292   0.0         NaN
       male    41.029272  ...   79.200000  512.3292  35.0  162.828571
2      female  27.499223  ...   26.250000   65.0000   1.0   52.000000
       male    30.815380  ...   26.000000   73.5000  30.0  171.233333
3      female  22.185329  ...   17.850000   69.5500   7.0  183.000000
       male    25.962264  ...    9.586450   69.5500  48.0  151.854167


                      std   min     25%    50%     75%    max
pclass sex
1      female         NaN   NaN     NaN    NaN     NaN    NaN
       male     82.652172  16.0  109.50  166.0  233.00  307.0
2      female         NaN  52.0   52.00   52.0   52.00   52.0
       male    106.708007  15.0   85.00  160.0  285.25  322.0
3      female  140.538251   7.0   57.00  206.0  313.00  328.0
       male     96.957984   1.0   68.75  148.0  214.50  314.0

[6 rows x 48 columns]

Now try to calculate the survival rate based on sex/gender and travel class! See anything now?

In [221]:
print(titanic.groupby(['sex', 'pclass', 'survived']).size())
groups = titanic.groupby(['sex', 'pclass', 'survived']).count

sex     pclass  survived
female  1       0             5
                1           139
        2       0            12
                1            94
        3       0           110
                1           106
male    1       0           118
                1            61
        2       0           146
                1            25
        3       0           418
                1            75
dtype: int64

## 2.0 Data cleaning
Create a new variable called titanic_clean so that, if you mess up you can always revert back by re-calling titanic. If you want, you can remove variables that are not of high relevance and have many missing values

In [222]:
titanic_clean = titanic

Now try combining the sibsp and parch variables into something that captures total relatives number

In [223]:
titanic_clean['Overall_relatives'] = titanic_clean['sibsp'] + titanic_clean['parch']

### 2.2 Practice reshaping dataset

In [224]:
titanic_reshape = pd.melt(titanic_clean, value_vars=['Overall_relatives', 'sibsp', 'parch'], var_name='family_type', value_name='family_count')


## 3. Using logic in your code


### 3.1 Dealing with unexplicit variables in embarked. See if there's anything there that doesn't look like a port

In [225]:

print(titanic_clean['embarked'].unique())

['S', 'C', NaN, 'Q']
Categories (3, object): ['S', 'C', 'Q']
Empty DataFrame
Columns: [pclass, survived, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, boat, body, home.dest, Last Name, Title, First Name, Overall_relatives]
Index: []

### 3.2 Check which entries, if any, have missing values

In [ ]:
embarked_missing = titanic_clean[titanic_clean['embarked'] == '']
print(embarked_missing.head(2))

# Create a new column in titanic clean where for the value of the new variable to be entered
titanic_clean['entry_port'] = None

### 3.3 Iterate over the dataset to create the new column with the right values

In [ ]:
for i in range(len(titanic_clean)):
    if titanic_clean.at[i, 'embarked'] == 'S':
        titanic_clean.at[i, 'entry_port'] = 'Southampton'
    elif titanic_clean.at[i, 'embarked'] == 'C':
        titanic_clean.at[i, 'entry_port'] = 'Cherbourg'
    elif titanic_clean.at[i, 'embarked'] == 'Q':
        titanic_clean.at[i, 'entry_port'] = 'Queenstown'

### 3.4 Remove the variable 'embarked', make the column 'Entry_port' a category

In [ ]:
titanic_clean.drop(columns=['embarked'], inplace=True)
titanic_clean['entry_port'] = pd.Categorical(titanic_clean['entry_port'])


## 4. Dealing with missing values

### 4.1 Look again at the summary of titanic clean to identify columns with NA values

In [ ]:
print(titanic_clean.describe())

### 4.2 Remove the rows with missing values in relevant variables

In [ ]:
titanic_clean.dropna(subset=['entry_port', 'age'], inplace=True)

## 5. Creating summary statistics

### 5.1 Create a DataFrame with sums and counts for people who died or survived

In [ ]:
Tit_summary_surv = titanic_clean.groupby('pclass').agg(survived=('survived', 'sum'), Nb_people=('survived', 'count')).reset_index()
Tit_summary_surv['Perc_died'] = 100 * (Tit_summary_surv['Nb_people'] - Tit_summary_surv['survived']) / Tit_summary_surv['Nb_people']


### 5.2 Create a DataFrame to check whether there is a difference in the percentage of death for sex

In [ ]:
titanic_summary_surv_gender = titanic_clean.groupby('sex').agg(survived=('survived', 'sum'), Nb_people=('survived', 'count')).reset_index()
titanic_summary_surv_gender['Perc_died'] = 100 * (titanic_summary_surv_gender['Nb_people'] - titanic_summary_surv_gender['survived']) / titanic_summary_surv_gender['Nb_people']

### 5.3 Create a DataFrame to check whether there is a difference in the percentage of death for both sex and class

In [ ]:
titanic_summary_surv_gender_class = titanic_clean.groupby(['pclass', 'sex']).agg(survived=('survived', 'sum'), Nb_people=('survived', 'count'))
titanic_summary_surv_gender_class['Perc_died'] = 100 * (titanic_summary_surv_gender_class['Nb_people'] - titanic_summary_surv_gender_class['survived']) / titanic_summary_surv_gender_class['Nb_people']

### 5.4 Create a DataFrame which looks at summary for age groups on top of class and sex

In [ ]:
titanic_clean['child_adult'] = ['Child' if age < 18 else 'Adult' for age in titanic_clean['age']]
titanic_summary_surv_child = titanic_clean.groupby(['pclass', 'sex', 'child_adult']).agg(survived=('survived', 'sum'), Nb_people=('survived', 'count'))
titanic_summary_surv_child['Perc_died'] = 100 * (titanic_summary_surv_child['Nb_people'] - titanic_summary_surv_child['survived']) / titanic_summary_surv_child['Nb_people']